@import './utils/variables';
@import'./utils/mixin';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #000;
}

body{
    font-family: $font-family;
    background-color: $bg-color;
    overflow-x: hidden;
}

header{
    padding: 15px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $white-bg;
    z-index: 100;
    transition: .3s;
    @include headerContext;
}
    
header .logo{
    @include logoStyle;
}

span{
    @include spanAndNavListStyle;
}

ul.navlist{
    display: $display;
}

.navlist li{
    margin: 0 16px;
}

.navlist li a{
    @include navlistStyle;
}

.navlist li a:hover, .navlist li a.active{
    @include spanAndNavListStyle;
}

.right-header{
    @include rightHeader;
}

.btn{
    @include btnAll;
}

.btn:hover, .btn-box .d-CV:hover{
    box-shadow: $hover-box-shadow;
}

.menu-icon{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    // background: blue;
}

.menu-icon .bar,
.menu-icon::after,
.menu-icon::before{
    content: "";
    display: none;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background: #000;
    margin: 6px 0;
    transition: .4s;
}

.menu-icon.active::before{
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-icon.active::after{
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu-icon.active .bar{
    opacity: 0;
}

/*home section css*/
section{
    padding: 90px 8%;   
}

.home{
    min-height: 100vh;
    @include homeStyle;
}

.hero-info{
    margin-top: 3rem;
}

.hero-info h3{
    color: $font-color;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.hero-info h1{
    font-size: 3.5rem;
}

.text-animate{
    width: 22.8rem;
    position: relative;
}

.text-animate h2{
    @include spanAndNavListStyle;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    -webkit-text-stroke: 0.1vw #B33771;
    background-repeat: no-repeat;
    background-position: 0 0;
    transition: .6s;
    letter-spacing: 1px;
    animation: moveText 3s linear infinite;
    animation-delay: 2s;

}

.text-animate h2::before{
    content: "";
    position: absolute;
    top: 7px;
    left: -3px;
    width: 0;
    height: 70%;
    border-right:2px solid $main-color;
    animation: moveCursorText 3s linear infinite;
    animation-delay: 2s;
}

.hero-info p{
    font-size: .9rem;
    color: $font-color;
    line-height: 1.5rem;
}

.btn-box{
    display: $display;
    justify-content: $justify-content;
    width: 320px;
    margin-top:2rem;
    margin-bottom: 6rem;

}

.btn-box .btn{
    padding: 10px;
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: 8px;
}

.btn-box .d-CV{
    background: $white-bg-2;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    box-shadow: rgba(60,64,67,0.3)0px 1px 2px 0px,
                 rgba(60,64,67,0.15)0px 2px 6px 2px;
    transition: all .3s ease;

}

.social-media{
    display: $display;
    justify-content: $justify-content;
    width: 220px;
    height: 45px;
}

.social-media a{
    width: 42px;
    height: 42px;
    font-size: 1.5rem;
    color: $main-color;
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    border-radius: 50%;
    z-index: 1;
}

.social-media a:hover{
    background: $color-bg;
    color: #fff;
}

.bg-icon{
    position: relative;
    display: $display;
    justify-content: center;
    align-items: $align-items;
}

.bg-icon span{
    position: absolute;
    width: 50px;
    height: 50px;
    background: $color-bg;
    border-radius: 50%;
    display: $display;
    align-items: $align-items;
    justify-content: center;
    animation: animate 1s linear infinite;
}

.img-hero{
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
    animation-delay: 3s;
}

.img-hero img{
    position: relative;
    width: 400px;
    height: auto;
    margin-top: -8rem;
    z-index: 10;
}

.rotate-text{
    position: absolute;
    top: 4%;
    left: -53px;
    display: $display;
    justify-content: center;
    align-items: $align-items;
    overflow: hidden;
    padding: 2rem;
}

.rotate-text span{
    position: relative;
    width: 442px;
    height: 442px;
    background: red;
    border: 6px solid #e7eff3;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.rotate-text span::before{
    content: "";
    position: absolute;
    inset: 20px;
    background: #00aaff;
    border-radius: 50%;
    z-index: 1;
}

.rotate-text span i{
    position: absolute;
    inset: 0;
    background: $color-bg;
    filter: blur(5px);
    animation: animate 2s linear infinite;
}

.rotate-text .text{
    position: absolute;
    width: 490px;
    height: 490px;
    background: #e3e6eb;
    border-radius: 50%;
    box-shadow: 0 1px 6px 5.94px rgba(0,0,0,0);
    animation: rotateText 30s linear infinite;
}

.text p{
    position: absolute;
    transform-origin: 0 247px;
    display: block;
    top: 0;
    left: 50%;
    font-size: 1.2rem;
}
/*home section css*/

/*about section css*/
.about{
    @include headerContext;
    gap: 1rem;
}

.about .about-img{
    position: relative;
}

.about .about-img .about-hero{
    width: 40vw;
    height: auto;
}

.about-img .ring{
    position: absolute;
    top: 22%;
    right: 1%;
}

.about-img .circle{
    position: absolute;
    top: 0%;
    left: 0%;
}

.about-content{
    padding: 2rem 0;
}

.about-content h2{
    color: $main-color;
}

.about-content h3{
    font-size: 2.1rem;
    line-height: 2rem;
    margin: 5rem 0;
}

.about-content p{
    color: $font-color;
}

.text-box p{
    font-size: 1.1rem;
    font-weight: 500;
}

.about-btn{
    margin: 2rem 0;
}

.about-btn button, .CV-content a{
    background: $white-bg-2;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    box-shadow: rgba(60,64,67,0.3)0px 1px 2px 0px,
                rgba(60,64,67,0.15)0px 2px 6px 2px;
    margin-right: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}


/*about section css*/