@import './utils/variables';
@import'./utils/mixin';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: #000;
}

body{
    font-family: $font-family;
    background-color: $bg-color;
    overflow-x: hidden;
}

header{
    padding: 15px 8%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $white-bg;
    z-index: 100;
    transition: .3s;
    @include headerContext;
}
    
header .logo{
    @include logoStyle;
}

span{
    background: $color-bg;
    -webkit-background-clip: text;  // For WebKit-based browsers like Safari
    -moz-background-clip: text;     // For Firefox (older versions)
    background-clip: text;
    color: transparent;
}

ul.navlist{
    display: flex;
}

.navlist li{
    margin: 0 16px;
}