@mixin headerContext(
    $display:flex,
    $justify-content:space-between,
    $align-items:center
){
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin logoStyle(
    $size: 27px,
    $font-weight:700
){
    font-size: $size;
    font-weight: $font-weight;
}