@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$font-family :  "Poppins", serif;
$bg-color:#e3edf7;
$white-bg:linear-gradient(0deg, #ffffff 0%, #edf4fa 51%, #e5eef7 100%);
$color-bg:linear-gradient(180deg, rgba(234, 134, 133,1.0) 0%, rgba(136, 84, 208,1.0) 51%, rgba(75, 123, 236,1.0) 100%);
$main-color:#eb3b5a;
$font-color:#95afc0;
$hover-box-shadow:rgba(0,0,0,0.19) 0px 10px 20px, rgba(0,0,0,0.23) 0px 6px 6px;
$white-bg-2:linear-gradient(180deg, #e5eef7 0%, #fff 100%);
$logo-font-size: 27px;
$display: flex;
$align-items:center;
$justify-content:space-between;